
*{
font-family: 'Titillium Web', sans-serif;
}
   



.about {
    text-align: center;
    color: white;
  }

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    
  }
  
  .containeri {
    padding: 0 16px;
    text-decoration: none;
    height:300px;
  }
  .title {
    color: pink;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: green;
    background-color: lightblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }
  .button:hover {
    background-color: white;
  }

  .team{
      text-align: center;
      margin-top: 150px;
  }
  a{
      text-decoration: none;
      color: blue;
  }

    .contactus{
      margin-left:-120px; 
      width:120.3%;
      background-color: #056AA2;
      margin-top: 200px; 
      height: 80%;
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 20px #28b3bb;
    }

    .part1{
      width: 33.33%;
      text-align: center;
      color: white;
      font-size: 15px;
      padding-top: 10px;

    } 

    .part2{
      width: 33.33%;
      text-align: center;
      color: white;
      font-size: 15px;
      padding-top: 10px;
    }   
    .part3{
      width: 33.33%;
      text-align: center;
      color: white;
      font-size: 15px;
      padding-top: 10px;
    }   
/* Footer */
footer{
	
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-weight: bold 16px;
	padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-dist
.footer-company-about{
	margin-top: -500px;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font-weight: bold 14px;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}

    /* Footer  */
    


    /* */
    body { 
      background-image: linear-gradient(#35a6ed,#24daac);
    }
    .first-cont{
      padding-bottom: 14.5vw;
    background-image: url('gallery/8XzqUv.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    
    }
    *{
      font-family: 'Titillium Web', sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      /*background-color: #35a6ed;*/
      border-bottom: 1px solid rgb(255,255,255,0.2);
    }
    
    .topnav a {
      float:left;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.4s ease;
      font-size: 17px;
      font-weight: bold;
      
    }
    
    .topnav a:hover {
      
      color: #24daac;
    
    }
    
    .topnav a.active {
     color: #24daac;
     
    }
    .topnav .login-dissapear{
      display: none;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 700px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
      .remove {display: none;}
    
    }
    
    @media screen and (max-width: 700px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    
    
    
        .slide:hover, .slide:focus {
          box-shadow: inset 130px 0 0 0 white;
        }
    
        .slide {
          color:white;
          transition: 0.3s;
        }
        .slide:hover, .slide:focus {
          border-color: #24daac;
          color: #24daac;
        }
    
        .slide {
          background: #24daac;
          border: 5px solid #24daac;
          margin-left:70px;
          padding: 0.4em 1.8em;
          font-weight: bolder;
          border-radius: 20px;
          font-size: 15px;
          text-decoration:none;
          max-width: 80px;
        }
    
        html {
            scroll-behavior: smooth;
        }
    
    * {
      box-sizing: border-box;
    }
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      height: 780px;
      padding: 20px;
      width: 100%;
      
    }
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
      .container{
      display:inline-flex;
      flex-wrap:wrap;
     height: 850px;
      
    }
    .flex-direction{
      flex-direction:row;
    }
    .div1{
      box-shadow:0 0 20px #28b3bb;
      background-color:#727272;
      width:50%;
      height: 840px;
      background-image: linear-gradient(#35a6ed,#24daac);
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    .div2{
      background-color:#fff;
      width:50%;
      height: 840px;
      box-shadow: 0 0 20px #28b3bb;
      background-color: #eef3f7;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
    
    span{
      font-size:16px;
        font-weight:bold;
        display: block;
        line-height: 132px;
        text-align: center;
    }
    
    @media screen and (max-width: 500px) {
      .flex-direction{
      flex-direction:column;
      }
    .div1{
      width:100%;
      height:200vw;
      box-shadow:0 0 20px #28b3bb;
      border-radius: 10px;
      }
      .div2{
        display: none;
      }
      .div2 span{
        line-height:107px;
      }
      .imgage-div2{
        width: 15px;
        height: 15px;
      }
    
    }
    .hidden-button{
      display: none;
    }
    
    @media screen and (max-width: 750px) {
      .flex-direction{
      flex-direction:column;
      }
    .div1{
      width:100%;
      height:200vw;
      box-shadow:0 0 20px #28b3bb;
      border-radius: 10px;
      }
      .div2{
        display: none;
      }
      .div2 span{
        line-height:107px;
      }
      .inputt-field{
        margin-left: -8vw;
      }
       .city{
        margin-left: -8vw;
      }
      .hidden-button{
        width: 100px;
      }
    
    
    }
    
    .registration-text{
      color: white;
      font-weight: bold;
      text-align: center;
    
    }
    
          .inputt-icons i { 
                position: absolute; 
            } 
              
            .inputt-icons { 
                width: 100%; 
                margin-top: 30px; 
    
    
            } 
              
            .icon { 
                padding: 10px; 
                color: green; 
                min-width: 50px; 
                text-align: center; 
                
    
                
            } 
              
            .inputt-field { 
                width: 100%; 
                padding: 10px; 
                text-align: center; 
                border:1px solid white;
                border-radius: 35px;
    
                
            } 
    
        .containerr {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: white;
        }
    
        
        .containerr input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
    
        
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: white;
          border-radius: 50%;
        }
    
        
        .containerr:hover input ~ .checkmark {
          background-color: #ccc;
        }
    
        
        .containerr input:checked ~ .checkmark {
          background-color: green;
        }
    
        
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
    
        .containerr input:checked ~ .checkmark:after {
          display: block;
        }
    
        
        .containerr .checkmark:after {
          top: 9px;
          left: 9px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
        }
              
    
             #bodyy {
          justify-content: center;
          margin-left: 0%;
          display: flex;
          cursor: pointer;
           
        }
    
        .slidee:hover, .slidee:focus {
          box-shadow: inset 120px 0 0 0 white;
        }
    
    
      
        .slidee {
          color:white;
          -webkit-transition: 0.25s;
          transition: 0.3s;
        }
        .slidee:hover, .slide:focus {
          border-color: #35a6ed;
          color: #35a6ed;
        }
    
    
        .slidee {
          background: #35a6ed;
          border: 5px solid #35a6ed;
          margin: 0.5em;
          padding: 0.4em 1.8em;
          justify-content: center;
          display: flex;
          font-weight: bolder;
          border-radius: 20px;
          font-size: 15px;
          text-decoration:none;
        }
    
        #bodyyy{
        justify-content: center;
          margin-left: 0%;
          display: flex;
          cursor: pointer;
    
        }
    
        /* FOOTER */
    body {
      margin: 0;
      padding: 0;
    }
    .main {
      max-height: 550px;;
      background-color: #292c2f;
      color: white;
      font-size: 38pt;
      text-align: center;
      line-height: 550px;
    }
    
    
        /* FOOTER */
      
    body {
      margin: 0;
      padding: 0;
    }
    .main {
      max-height: 550px;;
      background-color: #292c2f;
      color: white;
      font-size: 38pt;
      text-align: center;
      line-height: 550px;
    }
    footer{
      
      bottom: 0;
    }
    .footer-distributed{
      background-color: #292c2f;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font-weight:  bold 16px;
      padding: 55px 50px;
      
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
    }
    
    .footer-distributed .footer-left{
      width: 40%;
    }
    
    .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Cookie', cursive;
      margin: 0;
    }
    
    .footer-distributed h3 span{
      color:  #5383d3;
    }
    
    
    .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
    }
    
    .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
      color:  #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    
    
    .footer-distributed .footer-center{
      width: 35%;
    }
    
    .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
      margin:0;
    }
    
    .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
    }
    
    .footer-dist
    .footer-company-about{
      margin-top: -500px;
    }
    
    .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
      margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
    
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
    
      margin-right: 3px;
      margin-bottom: 5px;
    }
    
    
    @media (max-width: 880px) {
    
      .footer-distributed{
        font-weight: bold 14px;
      
      }
    
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
    
      .footer-distributed .footer-center i{
        margin-left: 0;
      }
      .main {
        line-height: normal;
        font-size: auto;
      }
    
    }
    
        /* FOOTER END  */